

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

.table-section {
    position: absolute;
    left: 25%;
    margin-top: 30px;
    font-family: 'Sans serif';
    display: flex;
    gap: 500px;
}

.header {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 30px;
}

.column1-header {
    font-weight: bold;
    margin-bottom: 70px;
}

.column2-header {
    font-weight: bold;
    margin-bottom: 50px;
}

.row {
    margin-bottom: 90px;
}

.column1-row {
    margin-bottom: 230px;
}

img {
    height: 100px;
    border: 2px solid black;
    border-radius: 100px;
}
